{% extends "base_generic.html" %}

{% block title %} Войти {% endblock %}
{% block content %}

<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1> Введите новый пароль </h1>
        <form method='post' action=''>
            {% csrf_token %}
           {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info' style="background-color:#A7BE2F; border: none;">Сохранить</button>
        </form>
      </div>
</div>
{% endblock %}
