.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.logo img{
    display: inline;
    width: 100px;
    height: 100px;
}
.logo h1 {
    display: inline;
    color: #726767;
}
.book_detail{
    margin-top: 20px;
    margin-left: 20px;
}