{% extends "base_generic.html" %}

{% block content %}
  <h1>Список авторов в БД</h1>
    {% if author_list %}
        {% for author in author_list %}
            <p>{{ author.first_name }} {{ author.last_name }},
                <strong>Родился-</strong>{{ author.data_of_birth }},
                <strong>Умер-</strong>{{ author.data_of_death }},
                {% if user.is_authenticated %}
                {{ author.pk }}
                    <strong><a href="{% url 'catalog:authors_update' pk=author.pk %}">изменить автора</a></strong>,
                    <strong><a href="{% url 'catalog:authors_delete' pk=author.pk %}">удалить автора</a></strong>
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
  <p>В базе данных нет авторов</p>
{% endif %}
{% endblock %}